* {
  font-family: 'Merriweather', serif !important;
  scroll-behavior: smooth;
  cursor: url('./assets/cursor.png'), default !important;
}
body {
  overflow-x: hidden;

}

.navbar {
  background-color: #fff   !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
}
.navbar-nav li {
  padding-right: .7rem;
}

.navbar-brand:hover {
  color: #03A9F3 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: black ;
  padding-top: .8rem !important;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #03A9F3 !important;
}
.nav-link:hover {
  cursor: url('./assets/cursor-click.png'), auto !important;
}
.my-pic img {
  width: 75%;

}
.home-inner {
  background-image: url(./assets/seattle.gif);
}

.fixed {
  background-image: url(./assets/final.gif);
  z-index: -1;
} 
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: #ffffff;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem #000000;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem #000000;
  padding-bottom: 1.6rem;
}


.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
  cursor: url('./assets/cursor-click.png'), auto !important;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #03A9F3;
  margin: 0 auto 2rem;
}

table {
  width: 100%;
}
.skills h4 {
  text-transform: uppercase;
  padding-bottom: .4rem;
}

.skills svg.svg-inline--fa {
  color: #03A9F3;
  margin-bottom: 1rem;
}


#portfolio {
  /* padding: 3rem 0 3.5rem; */
}

.cards {
  padding-top: 1rem;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 1%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbbbbb;
  color: #000000;
}

.flip-card-back {
  background-color: #edd2a5;
  color: #ffffff;
  transform: rotateY(180deg);
  text-transform: uppercase;
}

.flip-card-back h4 {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: .5rem 1rem;
  font-size: .9rem;
}

footer {
  background-color: #452250;
  color: #ffffff;
  padding: 1rem 0 1rem;
  margin-top: 1rem;
}

footer a {
  color: #ffffff;
}

footer .nes-icon {
  font-size: 3rem;
  margin: 1.5rem 1rem 0 0;
  cursor: url('./assets/cursor-click.png'), auto !important
}

footer .nes-icon:hover {
  color: #03A9F3 !important;
  cursor: url('./assets/cursor-click.png'), auto !important
}

hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;
}

/* Media Queries */

@media (max-width: 767px) {
.caption h1 {
  font-size: 2.3rem;
  letter-spacing: .15rem;
  padding-bottom: .5rem;
}

.caption h3 {
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1rem;
}

.my-pic img {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  padding-top: 0;
}

.tests img {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
}

.table1{
  color: white;
}





/* .port{
  padding: 3%;
  position: fixed;
  top: 20%;
  left: 8%;
  background: #fff !important;
  border-color: #000;
  border-style: solid;
  border-width: 4px;
  width: 85%;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
} */
